
/*accueil */
.accueil {
    padding: 20px;
}

.accueil h3, .equipes h3, .palmares h3,  .showmatchs h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.accueil-content {
    display: flex;
    justify-content: space-around;
}

.accueil-content-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.accueil p {
    text-align: justify;
    padding: 10px;
    display: inline;
    width: 45%;
}

.accueil-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.accueil-image-container .image-container {
    height: 250px;
}
.accueil-image-container div img {
    height: 250px;
    box-shadow: 0 0 10px #8a51fe;
    border-radius: 25px;
}

.accueil-image-text {
    padding: 5px 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 25px 25px;
    position: relative;
    bottom: 62px;
    height: 48.4px;
    width: 427px;
    display: flex;
    align-items: center;
}

.image-container-2 {
    height: 200px;
}

.image-container-2 img {
    height: 200px !important;
    box-shadow: 0 0 10px #8a51fe;
    border-radius: 25px;
}

.accueil-image-text-2 {
    padding: 5px 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 25px 25px;
    position: relative;
    bottom: 62px;
    height: 48.4px;
    width: 372.383px;
    display: flex;
    align-items: center;
}

/* equipes */
.equipes-content {
    display: flex;
    justify-items: space-around;
    align-items: center;
    padding: 20px;
    width: 100dvw;
}

.logos-equipes-container, .noms-equipes-container, .jeux-equipes-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.logos-equipes {
    height: 140px !important;
    padding: 20px;
    filter: brightness(0) invert(1);
}

.noms-equipes-container {
    width: 20%;
}

.noms-equipes {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jeux-equipes-container {
    width: 47%;
}

.jeux-equipes {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jeux-equipes p, .noms-equipes p {
    text-indent: 0em each-line;
}

.jeux-equipes p i {
    transform: scale(.5);
    padding: 2px;
    color: #8a51fe;
}

#solary-desc {
    margin-top: 20px;
}

#vita-desc {
    margin-top: 40px;
    margin-bottom: 40px;
}

.en-savoir-plus {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.en-savoir-plus hr {
    width: 70%;
    margin: 0 0 20px 0;
    opacity: 50%;
}

.en-savoir-plus p {
    text-indent: 0em each-line;
}

.en-savoir-plus-btn {
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    background: transparent;
    border: 2px solid white;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -4px;
        width: 2px;
        height: 110%;
        transform: rotate(20deg);
        transition: all .3s ease;
        background-color: white;
    }
    
    &:hover {
        color: #8a51fe;
        border: #8a51fe 2px solid;
        transition: all .3s ease;
    }

    &:hover:before {
        transform: rotate(20deg) translate(130px, -45px);
        transition: all .3s ease;
        background-color: #8a51fe;
    }

    &:active {
        transform: scale(.9);
        transition: all ease .3s;
    }
}

.palmares-container {
    position: relative;
    padding: 20px;
}

.palmares-container p {
    padding: 10px;
    text-align: justify;
    width: 80%;
    margin: auto;
}

.palmares-container ul {
    text-align: center;
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.palmares-container ul li {
    font-size: 20px;
    font-style: italic;
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ftn {
    position: relative;

    &:before {
        z-index: -1;
        content: url('../images/logo-jeux/ftn.png');
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        width: 100%;       
        filter: invert(.5) sepia(1) saturate(10000%) hue-rotate(270deg) brightness(0.9) drop-shadow(0 0 5px #8a51fe);
    }
}

#valo {
    position: relative;

    &:before {
        z-index: -1;
        content: url("../images/logo-jeux/valo.png");
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        width: 100%;       
        filter: invert(.5) sepia(1) saturate(10000%) hue-rotate(270deg) brightness(0.9) drop-shadow(0 0 5px #8a51fe);
    }
}

#rl {
    position: relative;

    &:before {
        z-index: -1;
        content: url("../images/logo-jeux/rl.png");
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        width: 100%;       
        filter: invert(.5) sepia(1) saturate(10000%) hue-rotate(270deg) brightness(0.9) drop-shadow(0 0 5px #8a51fe);
    }
}

#lol {
    position: relative;

    &:before {
        z-index: -1;
        content: url("../images/logo-jeux/lol.png");
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        width: inherit;       
        filter: invert(.5) sepia(1) saturate(10000%) hue-rotate(270deg) brightness(0.9) drop-shadow(0 0 5px #8a51fe);
    }
}

.showmatchs-container {
    padding: 20px;
}

.showmatchs-container p {
    padding: 10px;
    width: 80%;
    margin: auto;
}

.showmatchs-container .en-savoir-plus p {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.avis {
    padding: 20px;
    width: 50%;
}

.avis h4 {
    font-size: 1.3em;
    font-weight: bold;
}

.avis fieldset {
    padding: 20px 40px;
}

.avis fieldset form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avis fieldset legend {
    padding: 0 5px;
}

.avis fieldset form input {
    margin-top: 10px;
    background: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    padding: 15px;
    width: 100%;
    outline: none;
    transition: all .3s ease;

    &:focus, &:valid {
        border: 1.5px solid #8a51fe;
        transition: all.3s ease;
        padding-top: 25px;
        padding-bottom: 10px;
        margin-bottom: 2.5px;
    }
}

.avis fieldset form label {
    position: relative;
    right: calc(50% - 17px);
    top: -32px;
    z-index: +1;
    transition: all .3s ease;
}

.avis fieldset form #input-description {
    position: static !important;
}

.avis fieldset form textarea {
    width: 100%;
    padding: 15px;
    border: 1.5px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    backdrop-filter: blur(1px);
    outline: none;
    resize: none;
    font-size: 12px;
    transition: all .3s ease;

    &:focus, &:valid {
        border: 1.5px solid #8a51fe;
        transition: all .3s ease;
    }
}

#name:focus + #input-name, #email:focus + #input-email, #titre:focus + #input-titre,
#name:valid + #input-name, #email:valid + #input-email, #titre:valid + #input-titre {
    font-size: .7em;
    top: -48px;
    right: calc(50% - 10px);
    transition: all .3s ease;
    color: #8a51fe;
}

.avis fieldset form input[type="submit"] {
    padding-top: 10px;
    transition: all .3s ease;
    margin-top: 20px;

    &:hover {
        color: #8a51fe;
        border: 1.5px solid white;
        transition: all .3s ease;
    }

    &:active {
        transform: scale(.9);
        transition: all ease .3s;
    }
}