/* fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* file imports */
@import url("./animations.css");

/* global styles */
:root {
    --font-title: "Protest Guerilla", sans-serif;
    --font-text: "Raleway", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-text);
    color: white;
}

p {
    font-size: 20px;
    text-indent: 2em each-line;
}

p::first-letter {
    color: #8a51fe;
    font-size: 1.2em;
    font-weight: 110%;
}

abbr {
    pointer-events: all !important;
}

body {
    min-height: 100dvh;
    background-image: url("../images/bgs/background.svg");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.surlignage {
    color: #8a51fe;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 1.2em;
}

/* header styles */
header {
    height: 85px;
    background: transparent;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
}

.header-left img {
    height: 50px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

.header-right div {
    height: 85px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.header-right div:hover {
    color: #8a51fe;
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;
}

/* page style */

.page-content {
    padding-top: 130px;
}

.page-content .title {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.5);
    user-select: none;
}

.page-content .title h1 {
    font-size: 60px;
    position: relative;
    right: 20px;
}

.page-content .title h1 img {
    height: 100px;
    position: relative;
    top: 20px;
    right: -20px;
}

.page-content .title h1 span {
    color: #8a51fe;
}

.page-content .title hr {
    margin: 25px 0 25px 0;
    width: 25%;
}

.page-content .title h2 {
    z-index: 1;
}

.triangle1 {
    height: 0;
    width: 0;
    border-top: 70px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 110px solid #8a51fe;
    position: relative;
    right: 25%;
    top: 10px;
    animation: 3s ease 0s infinite smoothmoove1;
}

.triangle1::before {
    content: "";
    height: 0;
    width: 0;
    display: inline-block;
    border-top: 70px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 110px solid white;
    z-index: -1;
    position: absolute;
    top: -70px;
    left: -109px;
    transform: scale(1.05);
    filter: blur(5px);
    opacity: .6;
}

.triangle2 {
    height: 0;
    width: 0;
    border-top: 50px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 110px solid #8a51fe;
    position: relative;
    left: 26%;
    top: -180px;
    animation: 5s ease 0s infinite smoothmoove2;
    transform: rotate(45deg);
}

.triangle2::before {
    content: "";
    height: 0;
    width: 0;
    border-top: 50px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 110px solid white;
    z-index: -1;
    position: absolute;
    top: -50px;
    left: 0px;
    transform: scale(1.05);
    filter: blur(5px);
    opacity: .6;
}

.button-scroll-down-container {
    position: absolute;
    top: 85dvh;
    left: 0;
    width: 100dvw;
    display: grid;
    place-items: center;
}

.scroll-down-button {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 3.5s ease 0s running infinite upnunder;
    transition: all ease .3s;
}

.scroll-down-button i {
    color: #8a51fe;
    font-size: 25px;
    transition: all ease .3s;
}

.scroll-down-button:hover {
    background-color: #8a51fe;
    cursor: pointer;
    transition: all ease .3s;
    animation: 3.5s ease 0s paused infinite upnunder;
}

.scroll-down-button:hover i {
    color: white;
    transition: all ease .3s;
}

.scroll-down-button:active {
    transform: scale(.9);
}

/*contenu de la page*/

.content-container {
    position: absolute;
    top: 100dvh;
    left: 0;
    width: 100dvw;
    padding-top: 40px;
}
