.intro p {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}